# P4 (Містобудування, ЖКГ, побутове, торговельне обслуговування, транспорт і зв’язок): 2/6

In [2]:
import pandas as pd
from src.utils import normalize_parameter, save_data
from src.utils import PATH_RAW, PATH_INTERIM

---

## p4_02
### наявність генеральних планів у містах та селищах міського типу
## p4_03
### наявність генеральних планів у селах
*Тут слід звести з попереднім датасетом*


## p4_05
### протяжність автомобільних доріг загального користування місцевого значення, на яких проведено капітальний ремонт, реконструкцію, відносно загальної довжини доріг

In [5]:
# roads = pd.read_csv(PATH_RAW / "P99" / "all_roads.csv").rename(columns={"Область": "region"})
# df_P04_007 = pd.read_excel(PATH_RAW / "P4" / "P04_007.xlsx")

# df_P04_007 = df_P04_007.loc[pd.to_datetime(df_P04_007["Дата початку ремонтних робіт"]) < "2020-10-01"]

# df_P04_007_fin = pd.concat([
#     roads.groupby("region")["Довжина (протяжність) дороги (км)"].sum().rename('roads_all'),
#     df_P04_007.groupby('region').agg(
#         price=("Загальна вартість ремонту (грн)", "sum"),
#         roads_repaired=("Довжина (протяжність) відремонтованої ділянки (км)", "sum")
#     )
# ], axis=1)

# df_P04_007_fin['price_km'] = df_P04_007_fin['price']/df_P04_007_fin['roads_repaired']
# df_P04_007_fin['p4_05_raw'] = df_P04_007_fin['roads_repaired']/df_P04_007_fin['roads_all']
# df_P04_007_fin = df_P04_007_fin.reset_index().rename(columns={"index": "region"})

# df_P04_007_fin.loc[:, df_P04_007_fin.columns.str.contains("region|_raw")].to_excel(PATH_INTERIM / "P4" / "P04_007.xlsx", index=False)

In [6]:
df_P04_007_fin = pd.read_excel(PATH_INTERIM / "P4" / "P04_007.xlsx")

df_P04_007_fin["p4_05"] = normalize_parameter(df_P04_007_fin["p4_05_raw"], min_bound=0)

feature_range=(0, 1); fill_na=True; array_bounds=(0.0, 0.1640336420980848); normalization_bounds=(0, 0.1640336420980848), reverse=False

## p4_06
### рівень використання коштів дорожнього фонду, передбачених для будівництва, реконструкції, ремонту та утримання автомобільних доріг загального користування місцевого значення, вулиць і доріг комунальної власності у населених пунктах

## p4_07
### середній рівень будівельної готовності об'єктів Великого будівництва (за касовими видатками)
## p4_08
### середній рівень освоєння коштів, виділених на об'єкти Великого будівництва з усіх джерел

In [7]:
df_P04_009 = pd.read_excel(PATH_INTERIM / "P4" / "P04_009.xlsx").rename(columns={"Готовність за касовими видатками": "p4_07_raw"})
df_P04_009["p4_07"] = normalize_parameter(df_P04_009["p4_07_raw"].div(100), min_bound=0, max_bound=1)
df_P04_009["p4_08"] = normalize_parameter(df_P04_009["p4_08_raw"].div(100), min_bound=0, max_bound=1)

feature_range=(0, 1); fill_na=True; array_bounds=(0.2722727272727273, 0.746); normalization_bounds=(0, 1), reverse=False
feature_range=(0, 1); fill_na=True; array_bounds=(0.34538249749666833, 0.9601208010074157); normalization_bounds=(0, 1), reverse=False

## Група 1: p4_02-p4_03, генплани
## Група 2: p4_05-p4_06, дороги
## Група 3: p4_07-p4_08, велике будівництво

In [8]:
dict_weights = {
    'p4_02':1,
    'p4_03':1,
    'p4_05':1,
    'p4_06':1,
    'p4_07':1,
    'p4_08':1
}

sources = [
#     df_P04_005_fin, 
    df_P04_007_fin,
#     df_KMU,
    df_P04_009
]
save_data(sources, dict_weights, 'P4', show_results=True)

               region     p4_05     p4_07     p4_08        P4
0           Вінницька  0.082180  0.418000  0.788864  2.148407
1           Волинська  0.065116  0.484974  0.584087  1.890295
2    Дніпропетровська  0.136325  0.446429  0.792756  2.292515
3            Донецька  0.000000  0.602128  0.567976  1.950173
4         Житомирська  0.091628  0.635409  0.646074  2.288519
5        Закарпатська  0.000000  0.558741  0.471550  1.717151
6          Запорізька  0.064932  0.404000  0.783673  2.087676
7   Івано-Франківська  0.000000  0.583333  0.476198  1.765886
8            Київська  0.000000  0.492749  0.760371  2.088534
9      Кіровоградська  0.178974  0.272273  0.478321  1.549279
10          Луганська  0.110273  0.600082  0.557563  2.113195
11          Львівська  0.070768  0.479240  0.823718  2.289544
12       Миколаївська  0.146358  0.485500  0.599295  2.051922
13            Одеська  0.045841  0.403345  0.960121  2.348844
14         Полтавська  0.077005  0.532560  0.747602  2.261944
15         Рівненська  0.000000  0.471304  0.486698  1.596671
16            Сумська  0.000000  0.349917  0.345382  1.158832
17      Тернопільська  1.000000  0.522727  0.884316  4.011739
18         Харківська  0.063817  0.495667  0.523164  1.804413
19         Херсонська  0.143343  0.679231  0.735786  2.597266
20        Хмельницька  0.000000  0.553220  0.557242  1.850771
21          Черкаська  0.207302  0.450629  0.542710  2.001069
22        Чернівецька  0.081879  0.746000  0.701763  2.549404
23       Чернігівська  0.123440  0.575083  0.586804  2.142212
24             м.Київ       NaN  0.694364  0.843895       NaN