# P8 (Зайнятість населення, праця та заробітна плата): 1/3

In [1]:
import pandas as pd
from src.utils import normalize_parameter, save_data
from src.utils import PATH_INTERIM

## p8_03
### кількість нещасних випадків на виробництві

## p8_04
### частка неформально зайнятого населення

In [2]:
df_P08_007 = pd.read_excel(PATH_INTERIM / "P8" / "P08_007.xlsx")
df_P08_007["region"] = df_P08_007["region"].str.strip()

df_P08_007["p8_04_raw"] = (
    df_P08_007["Кількість неформально зайнятих у віці 15-70 років у січні-червні 2020 року, тис. осіб"] / 
    df_P08_007["Робоча сила у віці 15-70 років у січні-червні 2020 року, тис. осіб"]
)

df_P08_007["p8_04"] = normalize_parameter(df_P08_007["p8_04_raw"], max_bound=1, reverse=True)

feature_range=(0, 1); fill_na=True; array_bounds=(0.07143732385737042, 0.44601727447216893); normalization_bounds=(1, 0.07143732385737042), reverse=True

## p8_05
### прострочена кредиторська заборгованість з виплати заробітної плати (з нарахуваннями) працівникам бюджетних установ, які утримуються за рахунок коштів місцевих бюджеті

## Група 1: p8_03-p8_05, захист праці

In [3]:
dict_weights = {
#     'p8_03':1,
    'p8_04':1,
#     'p8_05':1
}

sources = [
 #   df_P08_006_fin, 
    df_P08_007, 
#    df_KMU
]
save_data(sources, dict_weights, 'P8', show_results=True)

               region     p8_04         P8
0           Вінницька  0.805673   8.056734
1           Волинська  0.794885   7.948854
2    Дніпропетровська  0.926550   9.265500
3            Донецька  0.959906   9.599057
4         Житомирська  0.873727   8.737272
5        Закарпатська  0.927796   9.277955
6          Запорізька  0.857275   8.572751
7   Івано-Франківська  0.709349   7.093486
8            Київська  1.000000  10.000000
9      Кіровоградська  0.906864   9.068642
10          Луганська  0.819372   8.193717
11          Львівська  0.976081   9.760814
12       Миколаївська  0.758115   7.581148
13            Одеська  0.825363   8.253632
14         Полтавська  0.981576   9.815763
15         Рівненська  0.621572   6.215717
16            Сумська  0.863321   8.633214
17      Тернопільська  0.776703   7.767031
18         Харківська  0.971300   9.712996
19         Херсонська  0.720585   7.205854
20        Хмельницька  0.856760   8.567602
21          Черкаська  0.911752   9.117524
22        Чернівецька  0.596602   5.966024
23       Чернігівська  0.925910   9.259097
24             м.Київ  0.941706   9.417056