# P8 (Зайнятість населення, праця та заробітна плата): 1/3

In [1]:
import pandas as pd
from src.utils import normalize_parameter, save_data
from src.utils import PATH_INTERIM

## p8_03
### кількість нещасних випадків на виробництві

In [2]:
df_P08_006 = pd.read_excel(PATH_INTERIM / "P8" / "P08_006.xlsx")
df_P08_006["region"] = df_P08_006["region"].str.strip()
df_P08_006_fin = (
    df_P08_006
    .groupby("region")
    .agg(p8_03_raw = ("Код події", "size"))
    .reset_index()
)

df_P08_006_fin["p8_03"] = normalize_parameter(df_P08_006_fin["p8_03_raw"], reverse=True)

feature_range=(0, 1); fill_na=True; array_bounds=(1, 21); normalization_bounds=(21, 1), reverse=True

## p8_04
### частка неформально зайнятого населення

In [3]:
df_P08_007 = pd.read_excel(PATH_INTERIM / "P8" / "P08_007.xlsx")
df_P08_007["region"] = df_P08_007["region"].str.strip()

df_P08_007["p8_04_raw"] = (
    df_P08_007["Кількість неформально зайнятих у віці 15-70 років у січні-червні 2020 року, тис. осіб"] / 
    df_P08_007["Робоча сила у віці 15-70 років у січні-червні 2020 року, тис. осіб"]
)

df_P08_007["p8_04"] = normalize_parameter(df_P08_007["p8_04_raw"], max_bound=1, reverse=True)

feature_range=(0, 1); fill_na=True; array_bounds=(0.07143732385737042, 0.44601727447216893); normalization_bounds=(1, 0.07143732385737042), reverse=True

## p8_05
### прострочена кредиторська заборгованість з виплати заробітної плати (з нарахуваннями) працівникам бюджетних установ, які утримуються за рахунок коштів місцевих бюджеті

## Група 1: p8_03-p8_05, захист праці

In [4]:
dict_weights = {
    'p8_03':1,
    'p8_04':1,
#     'p8_05':1
}

sources = [
   df_P08_006_fin, 
    df_P08_007, 
#    df_KMU
]
save_data(sources, dict_weights, 'P8', show_results=True)

               region  p8_03     p8_04        P8
0           Вінницька   0.60  0.805673  7.028367
1           Волинська   0.85  0.794885  8.224427
2    Дніпропетровська   0.85  0.926550  8.882750
3            Донецька   0.60  0.959906  7.799529
4         Житомирська   0.70  0.873727  7.868636
5        Закарпатська   0.55  0.927796  7.388978
6          Запорізька   0.55  0.857275  7.036375
7   Івано-Франківська   0.75  0.709349  7.296743
8            Київська   0.00  1.000000  5.000000
9      Кіровоградська   0.75  0.906864  8.284321
10          Луганська   0.85  0.819372  8.346858
11          Львівська   0.15  0.976081  5.630407
12       Миколаївська   0.60  0.758115  6.790574
13            Одеська   0.75  0.825363  7.876816
14         Полтавська   0.45  0.981576  7.157881
15         Рівненська   0.75  0.621572  6.857858
16            Сумська   0.80  0.863321  8.316607
17      Тернопільська   0.80  0.776703  7.883515
18         Харківська   0.45  0.971300  7.106498
19         Херсонська   1.00  0.720585  8.602927
20        Хмельницька   0.80  0.856760  8.283801
21          Черкаська   0.65  0.911752  7.808762
22        Чернівецька   0.90  0.596602  7.483012
23       Чернігівська   0.75  0.925910  8.379549
24             м.Київ    NaN  0.941706       NaN